<!doctype html>
<html>
<head>
<link type="text/css" rel="stylesheet" 
	href="{{ url_for('static', filename='style.css') }}" />
	{% block title %}
	<title>Team.tasyon</title>
	{% endblock %}
</head>

<body>
    {% block body %}
    	<h1>This is HOME!</h1>
    {% endblock %}
</body>
</html>	