{% extends "base_layout.html" %}

{% block body %}
    {% if request.args %}
        <h3>GET DATA</h3>
        <ol>
        {% for k,v in request.args.items() %}
            <li>{{ k }} ---> {{ v }} </li>
        {% endfor %}
        </ol>
    {% endif %}

   
{% endblock %}