{% extends 'base_layout.html' %}

{% block body %}
<form method="POST" action="{{ url_for('login', task='display') }}" >
	
	<p>
		<label>Username</label>
		<input type= "text" name="username" />
	</p>

	<p>
		<label>Password</label>
		<input type="password" name="password" />
	</p>
	<p>
		<label>Remember Me</label>
		<input type="checkbox" name="remember" value='1' /> 
	</p>
	<p>
		<select name="access">
     	<option value="manager">Manager</option>
     	<option value="admin">Administrator</option>
     	<option  value="user" selected>User</option>
   		</select>
	</p>
	<p>
		<input type="submit" value="Submit" />
	</p>

</form>
{% endblock %}
