{% extends "base_layout.html" %}

{% block title %}{{ super() }} Add Member {% endblock %}
{% block body %}
    {% if request.args %}
        <h3>GET DATA</h3>
        <ol>
        {% for k,v in request.args.items() %}
            <li>{{ k }} ---> {{ v }} </li>
        {% endfor %}
        </ol>
    {% endif %}

    <h3>Flash Messages</h3>
    <ul>
    {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>

    <form method="POST" action="{{ url_for('login',task='store') }}">
        <label>Member Name</label>
        <input type="text" name="first_name" />

        <br />
        <br />
        <input type="submit" value="Submit" />
    </form>
{% endblock %}