{% extends "base_layout.html" %}

{% block body %}
<h3>Flash Messages</h3>
    <ul>
    {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endblock %}